<h2>Login</h2>

<%= form_tag sessions_create_path do %>

    <%= label_tag :email %>
    <%= email_field_tag :email, nil, :autofocus => true %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Log in", :class => "btn btn-dark btn-lg" %>
<% end %>

<% if flash[:error].present? %>
  <p class="error">
    <%= flash[:error] %>
  </p>
<% end %>
