<h2>Search For Flights</h2>

<%= form_tag  do %>

  <p>
    <%= label_tag "Departure City", nil, :for => "departure_airport" %>
    <select id="departure_airport" name="departure_airport">
      <option value=""></option>
      <% @departure_airports.each do |airport| %>
        <option value="<%= airport.id %>"><%= airport.city %></option>
      <% end %>
    </select>

    <%= label_tag "Arrival City", nil, :for => "arrival_airport" %>
    <select id="arrival_airport" name="arrival_airport">
        <option value=""></option>
      <% @arrival_airports.each do |airport| %>
        <option value="<%= airport.id %>"><%= airport.city %></option>
      <% end %>
    </select>

  </p>

  <p>
    <%= label_tag "Departure Date" %>
    <%= date_field_tag :depart_time %>

    <%= submit_tag "Apply Filters", :class => "btn btn-dark btn-lg" %>
  </p>

<% end %>

<% if flash[:error].present? %>
  <%= javascript_tag 'alert("Departure And Arrival Airports Cannot Match")' %>
<% end %>
